{% load static %}
<link  rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/all.css' %}">
<script src="{% static 'js/jquery.min.js' %} "></script>
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<script src="{% static 'js/header.js' %}"></script>
<script src="{% static 'js/TweenMax.min.js' %}"></script>



<div class="super_container">
    <!-- Header -->
    <header class="header">
        <!-- Top Bar -->
       <!-- Header Main -->
        <div class="header_main">
            <div class="container">
                <div class="row">
                    <!-- Logo -->

                    <div class="col-lg-2 col-sm-3 col-3 order-1">
                        <div class="logo_container">
                            <div class="logo"><a href=""><img class="logo-image" src="{% static 'image/logo2.jpg' %}" alt="logo" style="width:150px;"></a></div>
                        </div>
                    </div> <!-- Search -->
                    <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                        <div class="header_search">
                            <div class="header_search_content">
                                <div class="header_search_form_container">
                                    <form action="{% url 'search_app:SearchResult' %}" method="get" class="header_search_form clearfix">
                                        {% csrf_token %}
                                        <input type="search" required="required" class="header_search_input" name="q" placeholder="Search for products...">
                                         <button type="submit" class="header_search_button trans_300" value="Submit"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918770/search.png" alt=""></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Wishlist -->
                    <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                        <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                            <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                                <div class="wishlist_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918681/heart.png" alt=""></div>
                                <div class="wishlist_content">
                                    <div class="wishlist_text"><a href="#">Wishlist</a></div>
                                    <div class="wishlist_count">10</div>
                                </div>
                            </div> <!-- Cart -->
                            {% if item_count > 0 %}
                            <div class="cart">
                                <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                    <div class="cart_icon">
                                        <a href="{% url 'cart_app:cart_detail' %}">
                                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918704/cart.png" alt=""></a>
                                        <div class="cart_count"><span>{{item_count}}</span></div>
                                    </div>
                                    <div class="cart_content">
                                        <div class="cart_text"><a href="{% url 'cart_app:cart_detail' %}">Cart</a></div>
                                        <div class="cart_price">$185</div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Main Navigation -->
        <!-- Menu -->

    </header>

</div>